# SQL Connection Method 2: Using JupySQL with INI Configuration

This notebook demonstrates **Method 2** for connecting to PostgreSQL database using JupySQL with a configuration file approach.

## Key Features:
- **JupySQL Extension**: Modern SQL magic extension with enhanced features
- **INI Configuration**: Uses `connections.ini` file to store connection parameters
- **Section-based Connections**: Loads specific database configuration by section name
- **Clean Separation**: Database credentials separated from notebook code

## Connection Approach:
1. **Configuration File**: Connection details stored in `../../connections.ini`
2. **Section Loading**: Uses `--section local_pg` to load specific configuration
3. **Automatic Connection**: JupySQL handles connection management automatically

## Advantages of this Method:
- ✅ **Security**: Credentials not exposed in notebook cells
- ✅ **Portability**: Easy to switch between different database environments
- ✅ **Maintainability**: Single configuration file for multiple notebooks
- ✅ **Team Collaboration**: Shared configuration without exposing secrets

## File Structure:
```
├── connections.ini          # Database configuration file
└── notebooks/
    └── sql_connections/
        └── method_2.ipynb   # This notebook
```

In [1]:
%%capture
%load_ext sql
%config SqlMagic.dsn_filename = "../../connections.ini"
%sql --section local_pg

In [2]:
%sql SELECT * FROM billionaires LIMIT 5;

Running query in 'local_pg'

5 rows affected.

+---------------+-----------------+---------------+---------------+--------+-----+---------------+------------+-------------+-----------+------------------------------------------+-------------+-----------------------+-----------+--------------+----------+
| rank_position |       name      |     source    |    country    | gender | age | current_worth | birth_year | birth_month | birth_day |               university_1               |   degree_1  |      university_2     |  degree_2 | university_3 | degree_3 |
+---------------+-----------------+---------------+---------------+--------+-----+---------------+------------+-------------+-----------+------------------------------------------+-------------+-----------------------+-----------+--------------+----------+
|       1       |    Elon Musk    | Tesla, SpaceX | United States |   M    |  54 |     413.1     |    1971    |      6      |     28    |        University of Pennsylvania        |   BA , BS   |          None         |    None   |     None     |   None   |
|       2       |  Larry Ellison  |     Oracle    | United States |   M    |  81 |     271.6     |    1944    |      8      |     17    | University of Illinois, Urbana-Champaign |  no degree  | University of Chicago | no degree |     None     |   None   |
|       3       | Mark Zuckerberg |    Facebook   | United States |   M    |  41 |     251.8     |    1984    |      5      |     14    |            Harvard University            | dropped out |          None         |    None   |     None     |   None   |
|       4       |    Jeff Bezos   |     Amazon    | United States |   M    |  61 |     237.6     |    1964    |      1      |     12    |           Princeton University           |     BSE     |          None         |    None   |     None     |   None   |
|       5       |    Larry Page   |     Google    | United States |   M    |  52 |     177.1     |    1973    |      3      |     26    |          University of Michigan          |     BSE     |  Stanford University  |     MS    |     None     |   None   |
+---------------+-----------------+---------------+---------------+--------+-----+---------------+------------+-------------+-----------+------------------------------------------+-------------+-----------------------+-----------+--------------+----------+

In [3]:
%sql SELECT name, country FROM billionaires LIMIT 5;

Running query in 'local_pg'

5 rows affected.

+-----------------+---------------+
|       name      |    country    |
+-----------------+---------------+
|    Elon Musk    | United States |
|  Larry Ellison  | United States |
| Mark Zuckerberg | United States |
|    Jeff Bezos   | United States |
|    Larry Page   | United States |
+-----------------+---------------+