# SQL Connection Method 1: Environment Variables with pandas/SQLAlchemy

This notebook demonstrates **Method 1** for connecting to PostgreSQL database using environment variables and pandas/SQLAlchemy directly.

## Key Features:
- **Environment Variables**: Uses `.env` files for configuration
- **pandas Integration**: Direct SQL queries with `pd.read_sql()`
- **SQLAlchemy Engine**: Robust database connection handling
- **Dual Environment Support**: Works in both Docker and local environments

## Connection Approach:
1. **Load Environment Variables**: From `.env` and `.env.local` files
2. **Create SQLAlchemy Engine**: Direct connection to PostgreSQL
3. **Execute Queries**: Using pandas `read_sql()` method
4. **Smart Host Detection**: Automatically handles Docker vs local environments

## Environment File Strategy:
- **`.env`**: Contains `POSTGRES_HOST=db` (for Docker/container environments)  
- **`.env.local`**: Contains `POSTGRES_HOST=127.0.0.1` (for local development)

## Host Resolution Options:

### Option 1: Manual Override (Simple)
```python
host = "127.0.0.1"  # Always use localhost for notebooks
```

### Option 2: Smart Fallback (Recommended)
```python
host = "127.0.0.1" if os.environ.get("POSTGRES_HOST") == "db" else os.environ.get("POSTGRES_HOST", "127.0.0.1")
```

### Option 3: Environment Detection (Advanced)
```python
# Detect if we're running in Docker vs local
import socket
try:
    socket.gethostbyname("db")
    host = "db"  # We're in Docker network
except socket.gaierror:
    host = "127.0.0.1"  # We're running locally
```

## Advantages of Method 1:
- ‚úÖ **Direct Control**: Full control over connection parameters
- ‚úÖ **pandas Integration**: Results returned as DataFrames by default
- ‚úÖ **Environment Flexibility**: Easy switching between development environments
- ‚úÖ **No Additional Dependencies**: Uses standard SQLAlchemy + pandas

In [6]:
# Method 1: Direct SQLAlchemy + pandas approach
import os
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv

# Step 1: Load environment variables from .env files
load_dotenv()  # Loads .env (and .env.local if present)

# Step 2: Extract database connection parameters
user = os.environ["POSTGRES_USER"]
password = os.environ["POSTGRES_PASSWORD"]
port = os.environ.get("POSTGRES_PORT", "5432")
db = os.environ["POSTGRES_DB"]

# Step 3: Handle host resolution for local development
# Override Docker hostname with localhost for notebook environment
host = "127.0.0.1"  # Always use localhost for local development

print(f"Method 1 Configuration:")
print(f"  Original POSTGRES_HOST from .env: {os.environ.get('POSTGRES_HOST')}")
print(f"  Using host for connection: {host}")
print(f"  Connection: postgresql+psycopg://{user}:***@{host}:{port}/{db}")

# Step 4: Create SQLAlchemy engine with psycopg driver
engine = create_engine(f"postgresql+psycopg://{user}:{password}@{host}:{port}/{db}")

# Step 5: Define helper function for executing SQL queries
def sql(query: str):
    """
    Execute SQL query and return results as pandas DataFrame
    
    Args:
        query (str): SQL query to execute
        
    Returns:
        pandas.DataFrame: Query results
    """
    return pd.read_sql(query, engine)

print("‚úÖ Method 1 setup complete - ready to execute SQL queries!")

Method 1 Configuration:
  Original POSTGRES_HOST from .env: db
  Using host for connection: 127.0.0.1
  Connection: postgresql+psycopg://successuser_username_db_y:***@127.0.0.1:5432/success_db_y
‚úÖ Method 1 setup complete - ready to execute SQL queries!

In [8]:
# Optional: Smart host detection (alternative to manual override)
import socket

def get_db_host():
    """
    Smart database host detection for Method 1:
    - Tries Docker hostname first (from environment variable)
    - Falls back to localhost for local development
    
    This is an alternative to the manual host override above.
    """
    original_host = os.environ.get("POSTGRES_HOST", "db")
    
    # If it's already localhost, use it
    if original_host in ["127.0.0.1", "localhost"]:
        return original_host
    
    # Try to resolve the Docker hostname
    try:
        socket.gethostbyname(original_host)
        print(f"‚úÖ Docker hostname '{original_host}' resolved - using Docker network")
        return original_host
    except socket.gaierror:
        print(f"‚ùå Docker hostname '{original_host}' not available - using localhost")
        return "127.0.0.1"

# Demonstrate the smart host detection
smart_host = get_db_host()
print(f"Smart detection selected host: {smart_host}")

# Create alternative engine with smart host detection
smart_engine = create_engine(f"postgresql+psycopg://{user}:{password}@{smart_host}:{port}/{db}")

def smart_sql(query: str):
    """Alternative SQL function using smart host detection"""
    return pd.read_sql(query, smart_engine)

‚ùå Docker hostname 'db' not available - using localhost
Smart detection selected host: 127.0.0.1

## Method 1 vs Method 2 Comparison

| Aspect | Method 1 (This Notebook) | Method 2 (INI Configuration) |
|--------|---------------------------|-------------------------------|
| **Connection Type** | SQLAlchemy + pandas | JupySQL magic commands |
| **Configuration** | Environment variables (.env) | INI configuration file |
| **Query Execution** | `pd.read_sql()` function | `%sql` magic commands |
| **Result Format** | Always pandas DataFrame | Configurable (DataFrame or Table) |
| **Setup Complexity** | Medium (manual engine creation) | Simple (automatic connection) |
| **Credential Management** | Environment files | INI sections |
| **IDE Integration** | Standard Python | Jupyter-specific magic |
| **Best For** | Production code, scripts | Interactive data exploration |

## When to Use Method 1:
- ‚úÖ Building production data pipelines
- ‚úÖ Need full control over connection parameters  
- ‚úÖ Working with pandas DataFrames extensively
- ‚úÖ Sharing code between notebooks and scripts
- ‚úÖ Complex query logic with Python integration

In [11]:
sql("SELECT * FROM billionaires LIMIT 10;")

,rank_position,name,source,country,gender,age,current_worth,birth_year,birth_month,birth_day,university_1,degree_1,university_2,degree_2,university_3,degree_3
0,1,Elon Musk,"Tesla, SpaceX",United States,M,54,413.1,1971,6,28,University of Pennsylvania,"BA , BS",None,None,None,None
1,2,Larry Ellison,Oracle,United States,M,81,271.6,1944,8,17,"University of Illinois, Urbana-Champaign",no degree,University of Chicago,no degree,None,None
2,3,Mark Zuckerberg,Facebook,United States,M,41,251.8,1984,5,14,Harvard University,dropped out,None,None,None,None
3,4,Jeff Bezos,Amazon,United States,M,61,237.6,1964,1,12,Princeton University,BSE,None,None,None,None
4,5,Larry Page,Google,United States,M,52,177.1,1973,3,26,University of Michigan,BSE,Stanford University,MS,None,None
5,6,Sergey Brin,Google,United States,M,52,164.8,1973,8,21,"University of Maryland, College Park",BS,Stanford University,MS,None,None
6,7,Bernard Arnault & family,LVMH,France,M,76,156.9,1949,3,5,None,None,None,None,None,None
7,8,Steve Ballmer,Microsoft,United States,M,69,152.7,1956,3,24,Harvard University,BA,Stanford University,dropped out,None,None
8,9,Warren Buffett,Berkshire Hathaway,United States,M,95,149.6,1930,8,30,University of Pennsylvania University of Nebraska,BS,Columbia University,MS,None,None
9,10,Jensen Huang,Semiconductors,United States,M,62,148.5,1963,2,17,Oregon State University,BS,Stanford University,MS,None,None

In [12]:
# Example: More secure connection string display
def create_secure_connection():
    """Create database connection with security-conscious logging"""
    
    # Load environment variables
    load_dotenv()
    
    user = os.environ["POSTGRES_USER"]
    password = os.environ["POSTGRES_PASSWORD"]
    port = os.environ.get("POSTGRES_PORT", "5432")
    db = os.environ["POSTGRES_DB"]
    
    # Smart host detection
    def get_db_host():
        original_host = os.environ.get("POSTGRES_HOST", "db")
        if original_host in ["127.0.0.1", "localhost"]:
            return original_host
        try:
            socket.gethostbyname(original_host)
            return original_host
        except socket.gaierror:
            return "127.0.0.1"
    
    host = get_db_host()
    
    # Security-conscious logging
    def mask_sensitive_info(host, user, db):
        """Mask sensitive information in logs"""
        # Don't mask localhost - it's not sensitive
        display_host = host if host in ["127.0.0.1", "localhost", "db"] else "***HIDDEN***"
        # Mask username in production, OK for development
        display_user = user if host in ["127.0.0.1", "localhost", "db"] else "***HIDDEN***"
        # Database name - depends on your security needs
        display_db = db if host in ["127.0.0.1", "localhost", "db"] else "***HIDDEN***"
        
        return display_host, display_user, display_db
    
    display_host, display_user, display_db = mask_sensitive_info(host, user, db)
    
    print(f"üîê Secure Connection Info:")
    print(f"  Host: {display_host}")
    print(f"  User: {display_user}")
    print(f"  Database: {display_db}")
    print(f"  Port: {port}")
    print(f"  Password: {'***HIDDEN***' if password else 'NOT SET'}")
    
    # Create the actual connection
    engine = create_engine(f"postgresql+psycopg://{user}:{password}@{host}:{port}/{db}")
    return engine

# Test the secure connection
secure_engine = create_secure_connection()

def secure_sql(query: str):
    return pd.read_sql(query, secure_engine)

# Test it
secure_sql("SELECT 'Connection successful!' as status;")

üîê Secure Connection Info:
  Host: 127.0.0.1
  User: successuser_username_db_y
  Database: success_db_y
  Port: 5432
  Password: ***HIDDEN***

                   status
0  Connection successful!

In [5]:
# Quick fix for your current setup - just mask the password
print("üîß Your Current Setup (Recommended approach):")
print(f"Connecting to: postgresql+psycopg://{user}:***@{host}:{port}/{db}")
print("‚úÖ Password masked, localhost IP shown (safe)")
print("‚úÖ Development database name shown (OK for local work)")
print("‚úÖ Port shown (standard practice)")

# The 127.0.0.1 is fine to show - it's your local machine!

üîß Your Current Setup (Recommended approach):
Connecting to: postgresql+psycopg://successuser_username_db_y:***@127.0.0.1:5432/success_db_y
‚úÖ Password masked, localhost IP shown (safe)
‚úÖ Development database name shown (OK for local work)
‚úÖ Port shown (standard practice)